/* Home */
.shop-link {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
}

.search-field {
  margin-bottom: 10px;
}

.alert {
  margin-top: 10px;
}

.caution {
  display: flex;
  justify-content: center;
}
